.menuItemList{
    width: 100%;
    display: block;
    height: inherit; 
    
}

/*.menuText{
    height:inherit;
}*/

.menuItem{
    display: inline-block;
    font-size: 1vw;
    width :25%;
    height: 3vw;
    text-align: center;
    padding-top: 0.9vw;
    /*
    padding-top: 0.9vw;
    padding-left: 5vw;
    padding-right: 5vw;
    */
    position: relative; 
    background-color: white;
    height: inherit; 
}

.menuItem:hover{
    background-color: aqua;
}

.menuItem:hover .submenuItemList{
    display: block;
}

.submenuItemList{
    display: none;
    list-style-type: none;
    position: absolute;
}

.submenuLink{
    width: 19.5vw;
    height: 2.5vw;
    padding-top: 1.5vw;
    text-align: center;
    background-color: aqua;
    float: left;
    text-decoration: none;
    padding-bottom: 0.5vw;
}

.submenuLink:hover{
   background-color: rgb(0, 153, 153) 
}









