#siteHead{
    display: inline-block;
    position: fixed;
    text-align: center;
    color: indigo;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2vw;
    width:3.7vw;
    height:3.7vw;
    padding-top: 0.6vw;
    left: 10%;
    background-color: white;
    border:0.3vw solid black;
    text-decoration: none;
}



