.bottomCoverDiv{
    text-align: center;
    padding-left: 10vw;
    padding-right: 10vw;
}

.nameHead{
    text-align: center;
    font-size: 3vw;
    padding: 1vw 2vw;
    stroke: blueviolet;
}

.leftTop{
    display: block;
    float: left;
    width: 49%;
    height: 10vw;
    border: 3px solid black;
}

.rightTop{
    display: inline-block;
    width: 48%;
    height: 10vw;
    border: 3px solid black;
}

@media screen and (max-width: 15cm){
    .nameHead{
        text-align: center;
        font-size: 8vw;
        padding: 1vw 2vw;
        stroke: blueviolet;
    }

    .leftTop{
        float: left;
        width: 100%;
        border: 3px solid black;
        word-wrap: normal;
    }
    
    .rightTop{
        width: 100%;
        border: 3px solid black;
    }
}