.menuItemList{
    width: 100%;
    display: block;
    height: inherit; 
    
}

/*.menuText{
    height:inherit;
}*/

.menuItem{
    display: inline-block;
    font-size: 1vw;
    width :25%;
    height: 3vw;
    text-align: center;
    padding-top: 0.9vw;
    /*
    padding-top: 0.9vw;
    padding-left: 5vw;
    padding-right: 5vw;
    */
    position: relative; 
    height: inherit;
    background-color: rgb(255, 255, 255);
}

.menuItem:hover{
    background-color: rgb(233, 233, 233);
}

.menuItem:hover .submenuItemList{
    display: block;
}

.submenuItemList{
    display: none;
    list-style-type: none;
    position: absolute;
}

.submenuLink{
    width: 19.73vw;
    height: 2.5vw;
    padding-top: 1.5vw;
    text-align: center;
    background-color: rgb(233, 233, 233);
    text-decoration: none;
    float: left;
    color: black;
}

.submenuLink:hover{
   background-color: rgb(204, 228, 228) 
}

.topCoverDiv{
    left:0vw;
    position: fixed;
    width: 100vw;
    height: 9vw;
    background-color: rgba(157, 196, 255, 0.801);
    padding-top: 0.5vw;
    /*text-align: center;*/
}

@media screen and (max-width: 15cm){
    
}







